{% extends "layout.html.twig" %}

{% block content %}

{% for post in site.posts %}
<article>
    <h2 class="title">{{ post.title }}</h2>
    
    {% include '_post_info.html.twig' %}

    {{ post.excerpt | raw }}

    <p><a href="{{ url(post) }}">Read more...</a></p>
</article>
{% endfor %}

<h2>Projects</h2>

{% for project in site.projects %}
<div class="project">
    <a href="{{ url(project) }}">{{ project.title }}</a>
</div>
{% endfor %}

{% endblock %}
